@media only screen and (min-width : 992px) {
    .invesible-top {
      top: 65px;
    }
  }

  .brand-logo{
    padding-left: 2% !important;
  }

  header{
    font-family: 'Fondamento', cursive;
  }

  .bg-img {
    background-size: 100%;
    background-image: url('https://image.freepik.com/free-photo/watercolor-splash-background_23-2148175602.jpg');
  }

  .pulse{
    top: 10px !important;
    left: 10px !important;
  }

  main{
      @extends .lime, .darken-1;
  }

  .front-end-container{
    padding-top: 3%;
    padding-bottom: 3%;
  }

.card-animation { transition: all .2s ease-in-out; }
.card-animation:hover { transform: scale(1.1); }
